@use "./../../styles/vars.module.scss" as *;

.upperBar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .actionArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: $spacing;
    .mobileMenuButton {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.withTitle {
  justify-content: space-between;
}
