$primary: #191c1d;
$secondary: #a599b5;
$gray: #2e2f2f;
$lightGray: #acbdba;
$azure: #cddddd;
$lightAzure: #e4f2f2;
$fail: #ff0000;
$warning: #d1ab24;
$blue: #3f6cbf;
$shadow: #191c1d;
$text: $azure;

$inprogress: $blue;
$info: $blue;
$success: #d4edda;
$bgSuccess: #131b15;
$error: #f8d7da;
$bgError: #1d1313;

$duration: 0.3s;
$transition: all $duration ease-in-out;

$separator: 2px solid $azure;

$spacing: 1rem;
$radius: 10px;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1506px;

@mixin screen-sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin screen-md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin screen-lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin screen-xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin screen-xxl {
  @media (min-width: $xxl) {
    @content;
  }
}

// Example module export
// :export {
// primaryColor: $primary;
// }
