$primary: #191c1d;
$secondary: #a599b5;
$gray: #2e2f2f;
$graySecondary: #3d3d3d;
$lightGray: #acbdba;
$darkGray: #242727;
$azure: #cddddd;
$lightAzure: #e4f2f2;
$fail: #ff0000;
$warning: #d1ab24;
$blue: #3f6cbf;
$shadow: #191c1d;
$text: $azure;

$inprogress: $blue;
$info: $blue;
$success: #d4edda;
$bgSuccess: #131b15;
$error: #f8d7da;
$bgError: #1d1313;

$duration: 0.3s;
$transition: all $duration ease-in-out;

$separator: 2px solid $azure;

$spacing: 1rem;
$radius: 10px;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1506px;

@mixin min-sm {
  @media (min-width: $sm) {
    @content;
  }
}

@mixin min-md {
  @media (min-width: $md) {
    @content;
  }
}

@mixin min-lg {
  @media (min-width: $lg) {
    @content;
  }
}

@mixin min-xl {
  @media (min-width: $xl) {
    @content;
  }
}

@mixin min-xxl {
  @media (min-width: $xxl) {
    @content;
  }
}

@mixin max-sm {
  @media (max-width: $sm) {
    @content;
  }
}

@mixin max-md {
  @media (max-width: $md) {
    @content;
  }
}

@mixin max-lg {
  @media (max-width: $lg) {
    @content;
  }
}

@mixin max-xl {
  @media (max-width: $xl) {
    @content;
  }
}

@mixin max-xxl {
  @media (max-width: $xxl) {
    @content;
  }
}

@mixin button-hover {
  cursor: pointer;
  box-shadow: 0px 0px 15px 2px $gray;
  background-color: $primary;
  color: $azure;
  gap: $spacing * 1.5;
}

@mixin field {
  border: 2px solid $graySecondary;
  background-color: $primary;
  border-radius: $radius;
  font-size: 16px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  color: $text;
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $primary inset !important;
    -webkit-text-fill-color: $azure !important;
  }
}

@mixin card {
  border-radius: $radius;
  box-shadow: 0px 0px 15px 2px $shadow;
  padding: 1.5rem 2rem;
  background-color: $gray;
  max-width: 100%;
}

// Example module export
// :export {
// primaryColor: $primary;
// }
