@use "./../../../styles/vars.module.scss" as *;

.button {
  padding: 10px 15px;
  border-radius: $radius;
  outline: none;
  display: flex;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
  box-shadow: 0px 0px 15px 2px $primary;
  transition: $transition;
  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px 2px $gray;
    background-color: $primary;
    color: $azure;
  }
}

.primary {
  background-color: $azure;
  color: $gray;
}
.secondary {
  background-color: $azure;
  color: $primary;
}
