@use "./../../../styles/vars.module.scss" as *;

.navigation {
  display: flex;
  flex-direction: column;
  gap: $spacing;
  div {
    display: flex;
    flex-direction: row;
  }
  a {
    text-decoration: none;
    color: $text;
    font-size: 1.2rem;
    padding: $spacing;
    transition: $transition;
    &:hover {
      background-color: $primary;
      border-radius: $radius;
    }
  }
}

.active {
  background-color: $azure;
  color: $gray !important;
  font-size: 1.2rem;
  border-radius: $radius;
  &:hover {
    color: $text !important;
  }
}
