@use './../../../styles/vars.module.scss' as *;

.popup {
  position: fixed;
  right: $spacing * 2;
  top: $spacing * 2;
  border-radius: $radius;
  padding: $spacing;
  z-index: 1000;
}

.error {
  background-color: $bgError;
  color: $error;
  border: 1px solid $error;
}

.success {
  background-color: $bgSuccess;
  color: $success;
  border: 1px solid $success;
}
