@use "./../../styles/vars.module" as *;

.body {
  color: $text;
  margin: 0;
  padding: 0;
  background-color: $primary;
  a {
    text-decoration: none;
    color: $text;
  }
}

.layout {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  min-height: 96.8vh;
  gap: $spacing;
  grid-gap: $spacing;
  padding: $spacing;
  .sidebar {
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
  }
  .upperBar {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
  }
  .childrenWrapper {
    grid-column: 2 / 2;
    grid-row: 2 / span 1;
  }
}

@mixin hide-sidebar-col {
  grid-template-columns: 1fr;
  .sidebar {
    display: none;
  }
  .upperBar {
    grid-column: 1 / 1;
  }
  .childrenWrapper {
    grid-column: 1 / 1;
  }
}

@include max-md {
  .layout {
    @include hide-sidebar-col;
  }
}

.hideSidebarCol {
  @include hide-sidebar-col;
}
